html {
  background-color: #FAF8F5;
  font-family: Helvetica, sans-serif;
  color: #773C03;
  font-size: 15px;
  font-weight: 100;
  line-height: 1.5;
}

.main {
  margin-right: 2%;
  margin-left: 1%;
}

img {
  display: block;
  object-fit: cover;
  -webkit-filter: brightness(115%) saturate(85%) drop-shadow(15px 15px 0.8em #777);
  -moz-filter: brightness(115%) saturate(85%) drop-shadow(15px 15px 0.8em #777);
  -ms-filter: brightness(115%) saturate(85%) drop-shadow(15px 15px 0.8em #777);
  filter: brightness(115%) saturate(85%) drop-shadow(15px 15px 10px #aaa);
}

h1, h2, h3, h4, .ingredient-note, #hide-images {
  font-family: Didot, serif;
}

h1 {
  line-height: 2.7rem;
}

h2 {
  margin-top: 50px;
}

h3 {
  font-weight: 500;
  font-size: 1.3rem;
  text-transform: uppercase;
  padding-bottom: 5px;
  padding-left: 10px;
}

#intro-image img {
  width: 510px;
  height: 320px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-top: -430px;
  border-radius: 15px;
  float: right;
}

.ingredient-list {
  border-radius: 10px;
  list-style-type: none;
  background-color: #eee;
  padding-top: 12px;
  padding-bottom: 20px;
  padding-left: 10px;
  width: 100%;
  margin-bottom: 3em;
}

.ingredient-list-item {
  position: relative;
  cursor: pointer;
  display: inline;
  margin-right: 1.2em;
  margin-left: 1.3em;
}

.ingredient-text-popup {
  display: block;
  position: absolute;
  top: 50px;
  left: -1rem;
  z-index: 100;
  padding-left: 5px;
  padding-right: 5px;
  color: #773C03;
  width: auto;
  height: auto;
  text-align: center;
  vertical-align: center;
  background-color: #eee;
  border-radius: 5px;
}

.ingredient-text {
  display: none;
}

.ingredient-image {
  width: 60px;
  height: 60px;
  display: inline;
  border-radius: 100%;
  margin-top: 17px;
  -webkit-filter: brightness(1.2) saturate(85%) drop-shadow(15px 15px 10px #aaa);
  -moz-filter: brightness(1.2) saturate(85%) drop-shadow(15px 15px 10px #aaa);
  -ms-filter: brightness(1.2) saturate(85%) drop-shadow(15px 15px 10px #aaa);
  filter: brightness(1.2) saturate(85%) drop-shadow(15px 15px 10px #aaa);
  -webkit-transition: all 1.3s ease;
  -moz-transition: all 1.3s ease;
  -ms-transition: all 1.3s ease;
  transition: all 1.3s ease;
}

.ingredient-image:hover {
  -webkit-transform: scale(1.6);
  -moz-transform: scale(1.6);
  -ms-transform: scale(1.6);
  transform: scale(1.6);
  -webkit-transition: all 1.3s ease;
  -moz-transition: all 1.3s ease;
  -ms-transition: all 1.3s ease;
  transition: all 1.3s ease;
}

.ingredient-text-only-display {
  display: inline-block;
  width: 5rem;
  margin-left: -10px;
  margin-right: -3px;
  margin-top: 10px;
  text-align: left;
  vertical-align: top;
  font-size: 0.95rem;
}

.brighten {
  -webkit-filter: brightness(1.3) saturate(85%) drop-shadow(15px 15px 10px #aaa);
  -moz-filter: brightness(1.3) saturate(85%) drop-shadow(15px 15px 10px #aaa);
  -ms-filter: brightness(1.3) saturate(85%) drop-shadow(15px 15px 10px #aaa);
  filter: brightness(1.3) saturate(85%) drop-shadow(15px 15px 10px #aaa);
}

.cook-time-info {
  margin: 20px 0px 40px 10px;
  padding-left: 15px;
}

.cook-time-info h4 {
  margin: 3px;
  font-weight: 600;
  text-transform: uppercase;
}

.intro {
  width: 45%;
  margin-top: 30px;
  padding: 10px;
  text-align: justify;
  font-size: 1.1em;
  padding-top: 50px;
}

.process {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  background-color: #eee;
  border-radius: 10px;
  padding-right: 20px;
  padding-top: 0.1em;
  padding-bottom: 1em;
}

.process h3 {
  padding-left: 3rem;
}

.process ol {
  list-style-type: circle;
}

.process li {
  margin-bottom: 2rem;
  text-align: justify;
}

.process-image {
  position: relative;
  border-radius: 10px;
  height: 300px;
  width: 75%;
  object-fit: cover;
  margin-bottom: 3em;
  margin-left: auto;
  margin-right: auto;
}

header {
  z-index: 1;
  background-color: beige;
  padding-left: 35px;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
}

#hide-images {
  background-color: #E07D80;
  color: beige;
  height: 60px;
  width: 70px;
  position: fixed;
  top: 100px;
  right: 0px;
  z-index: 1;
  text-align: right;
  text-transform: uppercase;
  padding-top: 15px;
  padding-right: 5px;
  opacity: 0.7;
  cursor: pointer;
}

li strong, li b {
  color: #e07d80;
  font-weight: 500;
}

.purchased {
  opacity: 0.7;
  -webkit-filter: saturate(0%) contrast(180%) drop-shadow(3px 3px 1px #555);
  -moz-filter: saturate(0%) contrast(180%) drop-shadow(3px 3px 1px #555);
  -ms-filter: saturate(0%) contrast(180%) drop-shadow(3px 3px 1px #555);
  filter: saturate(0%) contrast(180%) drop-shadow(3px 3px 1px #555);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.text-purchased:before {
  content: 'Ã¢Å“â€œ ';
}

.ingredient-note {
  display: inline-block;
  text-align: center;
  width: 100%;
  padding-left: 10px;
  padding-bottom: 10px;
}

.slide-button {
  width: 120px;
  text-align: center;
  border: 0.1rem solid #bbb;
  border-radius: 5px;
  margin-bottom: 01rem;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.slide-button:hover {
  background-color: #DCC5C6;
}

footer {
  text-align: center;
  width: 100%;
}

a {
  color: #e07d80;
  text-decoration: none;
  font-weight: 600;
}

footer a:hover {
  color: #BD2D4C;
}

footer p {
  font-size: 1.1em;
  font-family: Didot, serif;
}